body {
    color: #2f5586;
    font-family: "Roboto Slab Light",serif;
    background: #dee5ee;
}

h1 {
    color: #0c427c;
    font-family: "Roboto Slab", serif;
    text-decoration: underline #17174d;
}

h2 {
    color: #225498;
    font-family: "Roboto slab", serif;

}